<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
		<setting label="Interface" type="lsep"/>
		<setting id="general.display_color" type="action" label="Choose Color Scheme"
                 action="RunScript(plugin.program.opendevtools,action=color_picker)"
                 default="[COLOR forestgreen]forestgreen[/COLOR]"/>
		<setting id="general.color" type="text" label="Color Scheme" visible="false" default="forestgreen"/>
		
		<setting label="GitHub" type="lsep"/>
		
		<setting type="action" label="Authorize GitHub"
                 action="RunScript(plugin.program.opendevtools,action=authorize)"
				 option="close"
				 visible="eq(3,) | eq(4,)"/>
		<setting type="action" label="Reauthorize GitHub"
				 id="github.username"
                 action="RunScript(plugin.program.opendevtools,action=authorize)"
				 option="close"
				 visible="!eq(2,) + !eq(3,)"/>
        <setting type="action" label="Clear GitHub Authorization"
                 action="RunScript(plugin.program.opendevtools,action=revoke)"
				 option="close"
				 visible="!eq(1,) + !eq(2,)"/>
		
		<setting id="github.username" type="text" label="Github Username"
				 enable="false"
				 visible="false"/>		 
		<setting id="github.token" type="text" label="Github Access Token"
				 option="hidden"
				 enable="false"
				 visible="false"/>
		<setting id="github.client_id" type="text" label="Github Client ID"
				 default="7281fc95af8c0e322b96"
				 visible="false"/>
    </category>
</settings>
