<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="$ADDON[plugin.program.opendevtools 32051]">
		<setting label="$ADDON[plugin.program.opendevtools 32052]" type="lsep"/>
		
		<setting id="general.display_color" type="action" label="$ADDON[plugin.program.opendevtools 32053]"
                 action="RunScript(plugin.program.opendevtools,action=color_picker)"
                 default="[COLOR forestgreen]forestgreen[/COLOR]"/>
		<setting id="general.color" type="text" label="$ADDON[plugin.program.opendevtools 32054]" visible="false" default="forestgreen"/>
		<setting id="general.compact" type="bool" label="$ADDON[plugin.program.opendevtools 32055]" default="false"/>
		
		<setting label="$ADDON[plugin.program.opendevtools 32056]" type="lsep"/>
		
		<setting type="action" label="$ADDON[plugin.program.opendevtools 32057]"
                 action="RunScript(plugin.program.opendevtools,action=authorize)"
				 option="close"
				 visible="eq(4,)"/>
		<setting type="action" label="$ADDON[plugin.program.opendevtools 32058]"
                 action="RunScript(plugin.program.opendevtools,action=authorize)"
				 option="close"
				 visible="!eq(3,)"/>
        <setting type="action" label="$ADDON[plugin.program.opendevtools 32059]"
                 action="RunScript(plugin.program.opendevtools,action=revoke)"
				 option="close"
				 visible="!eq(2,)"/>

		<setting id="github.username" type="text" label="$ADDON[plugin.program.opendevtools 32060]"
				 enable="false"
				 visible="!eq(0,)"/>		 
		<setting id="github.token" type="text" label="$ADDON[plugin.program.opendevtools 32061]"
				 option="hidden"
				 enable="false"
				 visible="false"/>
		<setting id="github.client_id" type="text" label="$ADDON[plugin.program.opendevtools 32062]"
				 default="7281fc95af8c0e322b96"
				 visible="false"/>
    </category>
	<category label="$ADDON[plugin.program.opendevtools 32064]">
		<setting label="$ADDON[plugin.program.opendevtools 32101]" type="lsep"/>
		
		<setting id="general.dependencies" type="bool" label="$ADDON[plugin.program.opendevtools 32065] ($ADDON[plugin.program.opendevtools 32066])" default="true"/>
		
		<setting label="$ADDON[plugin.program.opendevtools 32097]" type="lsep"/>
		
		<setting id="github.collaborator_repos" type="bool" label="$ADDON[plugin.program.opendevtools 32075]" default="false"/>
		<setting id="github.organization_repos" type="bool" label="$ADDON[plugin.program.opendevtools 32076]" default="false"/>
		<setting id="general.show_bundled_repos" type="bool" label="$ADDON[plugin.program.opendevtools 32089]" default="true"/>
		
		<setting label="$ADDON[plugin.program.opendevtools 32098]" type="lsep"/>

		<setting id="general.show_commit_stats" type="bool" label="$ADDON[plugin.program.opendevtools 32096]" default="false"/>
		<setting id="general.commits_per_page" type="slider" label="$ADDON[plugin.program.opendevtools 32099]" default="30" option="int" range="5,5,100"/>
	</category>
</settings>
